@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  @font-face {
    font-family: 'Mrs Eaves Small Caps';
    src: url('/fonts/MRSEAV_7.otf') format('opentype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  .welcome-text {
    font-family: 'Mrs Eaves Small Caps', serif;
    line-height: 1.5;
  }
}